body {
   background-color: whitesmoke;
}
.image1 img {
    width: 400px;
    height: auto;
    border-radius: 20px;
    align-items: center;
    
}
 .image1 p {
    text-align: center;
    font-size: 20px;
    color: grey;
    margin-top: 0%;  
 }
  
 .sequence {
    font-weight: 200px;
    font-size: 10px;
   
 }
 .sequence .se {

   display: flex;
   gap: 40%;
   
 }
 .sequence .se p {

 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: large;
   font-weight: bold;
  
 }
 .sequence .se p span {

font-size: smaller;
font-weight: lighter;
  
 }


 .sequence button {
   font-size: large;
    display: inline;
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin: 10px;
    gap: 40px;
   
   
 }

 .Product2 .price0 {
   width: 40%;

 }
 .price0 {
      margin-left: 50px;
   width: 400%;            
  height: auto;
   background-color:whitesmoke;
   margin-top: 10%;
   border-radius: 10px;
   padding: 10px;
   border: solid white;
   max-width: 80%;
   display: flex;
   font-size: large;
   margin-bottom: 2px;
  

 }
 .price {
   margin-left: 50px;
   width: 400%;            
  height: auto;
  word-spacing: 150px;
   background-color: rgb(172, 95, 172);
   margin-top: 10%;
   border-radius: 10px;
   padding: 10px;
   color: whitesmoke;
   border: solid white;
   max-width: 80%;
   display: flex;
   font-size: large;
   margin-top: 2px;
  
  
 }

 .Product p {
  font-size: larger;
 
  
 }